.desktop-nav {
    display: flex;
}

.mobile-toggle {
    display: none;
}

@media (max-width: 900px) {
    .desktop-nav {
        display: none !important;
    }

    .mobile-toggle {
        display: block !important;
    }
}